{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href={{ path('card_new') }} class="nav-link" >Nouvelle carte</a>
        <a href={{ path('card_index') }} class="nav-link" >Liste carte</a>
        <a href={{ path('type_new') }} class="nav-link" >Nouvelle Type</a>
        <a href={{ path('type_index') }} class="nav-link" >Liste type</a>
    </nav>

    <div id="pageContent">
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('nav a').click(function (e) {
                e.preventDefault();
                $('nav a').removeClass('active');
                $(this).addClass('active');
                $("#pageContent").load($(this).attr('href'));
            });

            $('#pageContent').on('submit', 'form', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: new FormData(this),
                contentType: false, 
                processData: false,
                success: function success(response) {
                    $("#pageContent").load($('.active').attr('href'));
                }
            });
             });
        });
    </script>
{% endblock %}
